.testimonials_box::before {
    content: '';
    position: absolute;
    color: white;
    border-top: 7px solid white;
    border-left: 7px solid white;
    width: 32px;
    height: 32px;
    left: -3.5px;
    top: -3.5px;
    z-index: 10;
}

.testimonials_box::after {
    content: '';
    position: absolute;
    color: white;
    border-right: 7px solid white;
    border-bottom: 7px solid white;
    width: 32px;
    height: 32px;
    right: -3.5px;
    bottom: -3.5px;
    z-index: 10;
}